<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>TP1_Exo4_Recorr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjoutServlet</display-name>
    <servlet-name>AjoutServlet</servlet-name>
    <servlet-class>Etudiant.AjoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutServlet</servlet-name>
    <url-pattern>/AjoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>Etudiant.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierServlet</display-name>
    <servlet-name>ModifierServlet</servlet-name>
    <servlet-class>Etudiant.ModifierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierServlet</servlet-name>
    <url-pattern>/ModifierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerServlet</display-name>
    <servlet-name>SupprimerServlet</servlet-name>
    <servlet-class>Etudiant.SupprimerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerServlet</servlet-name>
    <url-pattern>/SupprimerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlett</display-name>
    <servlet-name>ListServlett</servlet-name>
    <servlet-class>model.ListServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlett</servlet-name>
    <url-pattern>/ListServlett</url-pattern>
  </servlet-mapping>
</web-app>
</element>